.profile {
    height: 100vh;
    border: 1px solid #ddd;
}
.profile-picture-container {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    padding: 5px;
    background: #FFF;
    border: 1px solid #ddd;
    margin: 25px;
}
.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.profile-info {
    margin: 25px;
}
.profile-contacts {
    margin: 25px;
}
.profile-social {
    margin: 25px;
}
.profile-social a, .footer-social a {
    text-decoration: none;
    font-size: 17pt;
    margin: 10px;
}
a.messenger {
    color: #0084FF;
}
a.twitter {
    color: #38A1F3;
}
a.github {
    color: #343434;
}

/* Skills */
.expertise, .skills {
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 15px;
    padding: 25px;
}
.skill {
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
}
.skill p {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 12px 5px;
}
.skill p span {
    font-size: 9pt;
    margin: auto 5px;
}
.skill .progress-bar {
    height: 3px;
    width: 100%;
    background: #a0a0a0;
}
.progress-fill {
    height: 100%;
    background: tomato;
}
.show-additional-skills {
    border: none;
    outline: none;
    color: #0066FF;
    display: block;
    margin: 24px auto;
    background: none;
    display: flex;
    flex-flow: row;
    transition: color 0.5s;
}
.show-additional-skills span {
    margin: auto 5px;
    font-size: 12pt;
    opacity: 1;
}
.show-additional-skills:hover {
    cursor: pointer;
    color: rgb(0, 42, 105);
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #0066FF;
    top: 0;
    bottom: 0;
    left: 30%;
    margin-left: -3px;
    z-index: -1;
}
.timeline-item {
    display: flex;
    flex-flow: row;
    margin: 10px 0;
}
.date {
    position: relative;
    background-color: inherit;
    width: 30%;
    padding: 30px;
    text-align: right;
}
.date::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -8px;
    background-color: #e9e9e9;
    border: 2px solid #0066FF;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}
.description {
    width: 60%;
    margin: auto;
    padding: 20px;
    border-bottom: 1px dashed rgb(161, 161, 161);
}
.timeline .location {
    font-size: 10pt;
}
.project {
    height: 425px;
    width: 100%;
    margin: 25px 0;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.project-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}
.maadds {
    background-image: url('../images/MAADDSEnterprise.jpg');
}
.triton {
    background-image: url('../images/TritonSwimClub.jpg');
}
.project-links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.5s, background 0.5s;
    color: #FFF;
}
.project-img:hover {
    transform: scale(1.07, 1.07);
}
.project-img:hover .project-links {
    opacity: 1;
}
.project-links a {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    margin: 10px auto;
    padding: 5px 25px;
    transition: background 0.5s, color .5s;
    border-radius: 50px;
}
.project-links a.visit:hover {
    background: #42b883;
}
.project-links a.git:hover{
    background: #F1502F;
    color: #3E2C00;
    border-radius: 50px;
}
.footer {
    border-top: 1px solid #ddd;
    margin: auto;
    padding: 25px;
    background: #FFF;
    text-align: center;
}
.footer p {
    display: inline-block;
    margin: 10px;
}
.footer>div {
    margin: auto;
}