.profile {
    height: 100vh;
    border: 1px solid #ddd;
}
.profile-picture-container {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    padding: 5px;
    background: #FFF;
    border: 1px solid #ddd;
    margin: 25px;
}
.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.profile-info {
    margin: 25px;
}
.profile-contacts {
    margin: 25px;
}
.profile-social {
    margin: 25px;
}
.expertise, .skills {
    margin: 25px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 15px;
    padding: 25px;
}
.skill {
    background: #FFF;
    border-radius: 3px;
    overflow: hidden;
}
.skill p {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 12px 5px;
}
.skill p span {
    font-size: 9pt;
    margin: auto 5px;
}
.skill .progress-bar {
    height: 3px;
    width: 100%;
    background: #a0a0a0;
}
.progress-fill {
    height: 100%;
    background: tomato;
}
.show-additional-skills {
    border: none;
    outline: none;
    color: #0066FF;
    display: block;
    margin: 24px auto;
    background: none;
    display: flex;
    flex-flow: row;
    transition: color 0.5s;
}
.show-additional-skills span {
    margin: auto;
    font-size: 12pt;
    opacity: 1;
}
.show-additional-skills:hover {
    cursor: pointer;
    color: rgb(0, 42, 105);
}
.active {
    transform: rotate(180deg);
    transition: transform 0.5s;
}