.profile {
    height: 100vh;
    border: 1px solid #ddd;
}
.profile-picture-container {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    padding: 5px;
    background: #FFF;
    border: 1px solid #ddd;
    margin: 25px;
}
.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.profile-info {
    margin: 25px;
}
.profile-contacts {
    margin: 25px;
}
.profile-social {
    margin: 25px;
}